name: CI

on:
  pull_request:
    branches: [master]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        working-directory: ./LevelUpSandbox
        run: dotnet restore

      - name: Build
        working-directory: ./LevelUpSandbox
        run: dotnet build --no-restore --configuration Release

      - name: Test
        working-directory: ./LevelUpSandbox
        run: dotnet test --no-build --verbosity normal --configuration Release